.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: black;
    border-radius: 43px;
    width: 60%;
    height: 85vh;
    position: relative;
    animation: slideUp 0.5s ease-out;
}

.close-btn {
    position: absolute;
    padding: 30px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: azure;
}

.banner_img {
    background-image: url('../../assets/images//comingsoon_img.png');
    border-radius: 43px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}